
body {
  margin: 0;
  background: @main-bg-color;
  }

  .title-name {
    font-size: 23px;
    color: #f2f2f2;
    margin: 2px 2px 2px;
  }

  .search-input {
    float: right;
    margin: 0 62px 15px 0;
  }

  .user-card {
    margin-bottom: 2%;
  }
